<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Rétrospective AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="banner">
                <div class="ellipse">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Zenika" class="logo">
                </div>
            </div>
        </header>
        <main>
            <h1 class="responsible-title">Bienvenue</h1>
            <h2 class="responsible-title">Créer une rétrospective personnalisée grâce à l'IA</h2>
            <p>Vous cherchez à <strong>optimiser vos projets</strong> et à <strong>renforcer la cohésion de votre équipe</strong> grâce à l'IA ? Je m'appelle ECHO et je suis là pour vous aider.</p>
            <p>Notre application de rétrospective est la solution parfaite !</p>
            <p>Avec notre outil, vous pouvez facilement <strong>analyser les succès</strong>, <strong>identifier les points à améliorer</strong> et <strong>planifier des actions concrètes</strong> pour l'avenir.</p>
            <button class="start-button">Start</button>
        </main>
    </div>
    <footer>
        <p>Copyright © 2024 Zenika - Tous droits réservés.</p>
        <a href="#">Mentions légales</a>
    </footer>
</body>
</html>
